/* ---- Page principal index.php ----*/

body{
	margin: 0;
	padding: 0;		
}

header{
	position: fixed;
	margin: 0;
	padding: 0;	
	top: 0;
	z-index: 1;
}

.contenu{
	width: 70%;
	margin: auto;
}

.navbar{
	opacity: 0.9;
}

#titre a{
	color: black;
}
.contenuHeader{	
	margin: 0;
	padding: 0;
	position: relative;
	border: 3px solid black;
	background-image: url('../images/bg.jpg');
	background-size: cover;
	height: 600px;
	text-align: center;
}

#titre{
	display: none;
	opacity: 0;
	width: 700px;
	margin-left: 20%;
	margin-top: 250px;
	position: absolute;
	padding: 0;
	padding-bottom: 5px;
	color: black;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 30px;
}


.descriptionAuteur{
	background-color: rgba(255, 255, 255, 0.7);
	margin: 0;
	padding: 15px;
	margin-bottom: 20px;
}

#portrait{
	float: left;
	width: 200px;
	margin-right: 20px;
}

#biog{
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.7);
	margin: 0;
	padding: 30px;
}

strong{
	font-weight: bold;
}

/* ---- Formulaire connexion admin ----*/

#formAdmin{
	display: flex;
	flex-direction: column;
	padding-left: 50px;
	padding-right: 50px;
	background-color: rgb(236, 219, 179);
	margin-bottom: 20px;
	margin-top: 50px;
}

#pseudo, #password{
	width: 40%;
	padding: 10px;
	margin: auto;
	margin-top: 15px;
}

#admin{
	margin: auto;
	margin-top: 15px;
}

#confirmAdmin{
	width: 10%;
	padding: 5px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

@media (max-width: 992px){
	.contenuHeader{
		display: none;
	}
}

@media (max-width: 1280px){
	#titre{
		margin-left: 5%;
	}

	#pseudo, #password{
		width: 100%;
	}

	#confirmAdmin{
		width: 60%;
	}
	#biog{
		margin-top: 50px;
	}
}